@page "/"

<PageTitle>Почтовый отправитель</PageTitle>

Представляю тестовое задание.

Реализована отправка писем по SMTP.

<CardDeck>
    <Card>
        <CardTitle>
            <h3>Посмотреть методы API в Swagger</h3>
        </CardTitle>
        <CardBody>
            <Button Type="ButtonType.Link" Color=" Color.Primary" To="/swagger" Float="Float.Default" Size="Size.Medium" TextAlignment="TextAlignment.Center">
                <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ArrowRight" /> Перейти
            </Button>
        </CardBody>
    </Card>
    <Card>
        <CardTitle>
            <h3>Отправить письмо</h3>
        </CardTitle>
        <Button Type="ButtonType.Link" Color=" Color.Primary" To="/send" Float="Float.Default" Size="Size.Medium" TextAlignment="TextAlignment.Center">
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ArrowRight" /> Перейти
        </Button>
    </Card>
    <Card>
        <CardTitle>
            <h3>Посмотреть письма в табличном виде</h3>
        </CardTitle>
        <Button Type="ButtonType.Link" Color=" Color.Primary" To="/mails" Float="Float.Default" Size="Size.Medium" TextAlignment="TextAlignment.Center">
            <Icon Name="Blazorise.Icons.FontAwesome.FontAwesomeIcons.ArrowRight" /> Перейти
        </Button>
    </Card>
</CardDeck>
